/* 
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... } 
*/

:root {
  --background-color: #E2E2E2;
  --max-width: 1200px;
  --border-radius: 12px;
  --font-body: 'Azeret Mono', monospace;
  --font-header: 'Courier Prime', monospace;
  --font-title: 'Buenard Variable', serif;
  --font-body-color: #222;

  --main-underline-color: #808080;
  --main-decoration-style: dotted;
  --main-decoration-thickness: 2.5px;
  --main-underline-thickness: 2.5px;
  --main-underline-style: dotted;
    font-size: clamp(0.8rem, 4vw, 1.2em);
    color: var(--font-body-color);
}

a{
    color: var(--font-body-color);
}

ul{
  padding-left: 1rem;
}

a:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

  .container{
  max-width: var(--max-width);
  padding: 0 1.2rem;
  margin: 0 auto;
  }


@media screen and (min-width: 80rem) {
  .container{
    padding: 0;
  }
}




h1{
  font-family: var(--font-title);
  font-size: 2.5em;
  font-weight: bold;
  margin: 25px auto;
  text-align: center;
}

h2{
  font-family: var(--font-title);
  font-size: 2em;
  font-weight: bold;
  margin: 15px 0;
}





*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-underline {
  text-decoration-color: var(--main-underline-color);
  text-decoration-style: var(--main-decoration-style);
  text-decoration-thickness: var(--main-decoration-thickness);
}


body {
  background-color: var(--background-color);  
  font-family: var(--font-body);
}

