.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
}


.section {
    margin: 0 auto;
}

.university {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.info {
    flex: 2 415px;
    padding-left: 1rem;
}

.info li+li {
    margin-top: 1rem;
}

.description {
    text-align: center;
}

.description a, .cert a {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 1.2rem;
    flex: 2;
}

 .section a img {
    margin-left: 0.5rem;
}

.certs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: baseline;
    margin-top: 2rem;
}

.cert{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    flex: 1;
}

.cert a{
    text-align: center;
    text-wrap: nowrap;
}

.readings{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer{
    border-radius: 20px;
    aspect-ratio: 5/3.5;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.readingImage{
        flex: 0 1 450px;
        min-width: 0;
}

.readingImage p{
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.5;
}

.imageCaption{
    color: #808080;
}   

.content p{
    margin: 1rem;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.readings .content{
    text-align:  center;
    white-space: pre-line;
    flex: 1 1 40%;
    line-height: 1.5;
}


@media screen and (min-width: 64rem) {
    .main {
        max-width: 80%;
        
    }
}