

.jobExperience {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
}

.jobExperience .timelineItem{
    flex: 1 0 90vw;
    padding: 0 1rem;
    display: flex;
    flex-direction:  column;
    justify-content: center;
}

.jobCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
}

.jobCard ul{
    padding-left: 1rem;
}

.jobCard .description p {
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imagesContainer img{
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
}

#cocomasur .imagesContainer img{
    max-width:150px;
}

