.section {
    width: 100%;
    margin:0 auto;
    padding: 0 0.5rem;
}

.title {
    margin: 20px auto;
    text-align: center;
}


.column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}


.technologies {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin: 0 auto;
row-gap: 2rem;
align-items: start;

}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.category h3{ 
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.categoryItems {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.icon{
    width: 50px;
    height: 50px;
}

.infraTools {
    flex: 0 500px;
    grid-column: 1/3;
    grid-row: 1;
}



.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: clamp(0.58rem, 3vw, 0.8rem);
    min-width: 70px;
}


@media screen and (min-width: 48rem){

    .item{
        font-size: 0.8rem;
    }

    .technologies {
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .technologies > div:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .technologies > div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 1;
    }

    .technologies > div:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1;
    }

    .technologies > div:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2;
    }

    .technologies > div:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2;
    }



}