.section {
    width: 100%;
    margin:40px auto;
    padding: 0 0.5rem;
}

.title {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 20px auto;
    text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}


.technologies {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
margin: 0 auto;
row-gap: 1.5rem;
align-items: start;

}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.category h3{ 
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.categoryItems {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.icon{
    width: 50px;
    height: 50px;
}

.infraTools {
    flex: 0 500px;
    grid-column: 1/4;
    grid-row: 1;
}



.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    min-width: 70px;
}


@media screen and (min-width: 48rem){
    .technologies {
        grid-template-columns: 1fr 1.2fr 1fr;
    }

    .infraTools {
        grid-column: initial;
        grid-row: initial;
    }
}