
.workSection {
    margin: 0 auto;
    max-width: 1400px;
}

.award {
    font-weight: bold;
}

.projects {
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: start;
}

.project {
    max-width: 500px;
    flex: 1 300px;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: center;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

.projectFeatures li + li {
    margin-top: 1rem;
}

.techStack {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    align-items: center;
}

.techStack img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.projectLink a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;   
    font-weight: bold;
}


.projectLink{
    display: flex;
    justify-content: center;
}


.clientSolutions{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.clientSolution {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex: 0 1 500px
}

.clientSolution .description p {
    margin-bottom: 1rem;
}


