.container {
    display: flex;
    background-color: var(--background-start-rgb);
    min-height: 100%;
    justify-content: center;
    padding: 4rem 1rem;
}

.content {
    width: 100%;
    max-width: 800px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--foreground-rgb);
}

.description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #666;
}